/*GLOBAL RULES*/

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/*END GLOBAR RULES*/

/* DEBUG MODE*/

.debug {
  * {
    border: 1px dashed;
  }

  header {
    height: 100px;
    background-color: red;
  }

  main {
    height: 2000px;
    background-color: green;
  }

  footer {
    height: 500px;
    background-color: blue;
  }

  .container {
    height: 100%;
    background-color: rgba(255, 166, 0, 0.827);
  }

  .jumbotron {
    height: 400px;
    background-color: rgba(0, 0, 255, 0.634);
  }

  .small-container {
    width: 65%;
    height: 100%;
    background-color: pink;
  }

  section {
    height: 400px;
    background-color: aquamarine;
    padding: 2rem 0;
  }
}

/*END DEBUG MODE*/

/*UTILITY*/

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.list-unstyle {
  list-style: none;
  gap: 7.5px;
}

.formatting-p {
  font-size: 1.2rem;
  padding: 1.5rem 0;
}

.button {
  padding: 0.25rem 0.5rem;
  border-radius: 0.75rem;
}

.large-btn {
  padding: 0.5rem 0.75rem;
  border-radius: 1.5rem;
}

.primary-btn {
  background-color: white;
  color: black;
}

.light-btn {
  background-color: white;
  color: black;
}

.dark-btn {
  background-color: black;
  color: white;
}

/*END UTILITY*/

/*COOMONS RULES*/

.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

.small-container {
  width: 55%;
  max-width: 1200px;
  margin: auto;
}

section {
  margin: 4.75rem 4.75rem;
}

.image {
  width: 70%;
}

.text {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

img{
    max-width: 100%;
}


.frineds-call {
  width: 100%;
}

/*END COMMONS RULES*/

/*HEADER SECTION*/

header {
  padding: 0.75rem 0;
  background-color: #3161e0;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 80px;
      height: auto;
    }
  }
}

/*END HEADER SECTION*/

/*MAIN SECTION*/
.jumbotron {
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-position: top;

  color: white;

  .small-container {
    padding: 4rem 0;
    text-align: center;
  }

  h1 {
    font-size: 3rem;
  }
}

.meet-place{
  background-color: #F6F6F6;
  margin: 0;

  .container{
    padding-top: 4.75rem ;
  }
}


.wave{
  color: #F6F6F6;
}

.wave-top{
  margin-bottom: -0.5rem;

}

.wave-bot{
  rotate: 180deg;
  margin-top: -0.5rem;

}

/*END MAIN SECTION*/

footer {
  background-color: #272c2f;
}
